.status__badge-alive {
  background-color: green;
  border-radius: 25px;
  color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.status__badge-dead {
  background-color: red;
  border-radius: 25px;
  color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.status__badge {
  background-color: gray;
  border-radius: 25px;
  color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.card-character {
  text-decoration: none;
}

.card-character:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
